<h1 mat-dialog-title>Add Curriculum</h1>
<div mat-dialog-content>
  <form #curriculumForm="ngForm" (ngSubmit)="onSubmit(curriculumForm)">
    <mat-form-field appearance="outline" class="full-width">
      <input
        matInput
        placeholder="Student ID"
        name="student_id"
        [(ngModel)]="curriculum.student_id"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <input
        matInput
        placeholder="Elective ID"
        name="elective_id"
        [(ngModel)]="curriculum.elective_id"
        required
      />
    </mat-form-field>
    <div mat-dialog-actions align="center" class="dialog-actions">
      <button mat-flat-button color="primary" type="submit">Add</button>
      <button mat-button type="button" (click)="onNoClick()">Cancel</button>
    </div>
  </form>
</div>
