<h2>Elective List</h2>
<table mat-table [dataSource]="electives" class="mat-elevation-z8">
  <!-- ID Column -->
  <!-- <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let elective">{{ elective.id }}</td>
  </ng-container> -->

  <!-- Name Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let elective">{{ elective.title }}</td>
  </ng-container>

  <!-- Duration Column -->
  <ng-container matColumnDef="duration">
    <th mat-header-cell *matHeaderCellDef>Duration (In semesters)</th>
    <td mat-cell *matCellDef="let elective">{{ elective.duration }}</td>
  </ng-container>

  <ng-container matColumnDef="lecture">
    <th mat-header-cell *matHeaderCellDef>Lecture Hours</th>
    <td mat-cell *matCellDef="let elective">{{ elective.hours.lecture }}</td>
  </ng-container>

  <!-- Lab Column -->
  <ng-container matColumnDef="lab">
    <th mat-header-cell *matHeaderCellDef>Lab Hours</th>
    <td mat-cell *matCellDef="let elective">{{ elective.hours.lab }}</td>
  </ng-container>

  <!-- Tutorial Column -->
  <ng-container matColumnDef="tutorial">
    <th mat-header-cell *matHeaderCellDef>Tutorial Hours</th>
    <td mat-cell *matCellDef="let elective">{{ elective.hours.tutorial }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let elective">
      <button mat-button (click)="updateElective(elective)">Edit</button>
      <button mat-button (click)="deleteElective(elective._id)">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<button mat-button (click)="openAddElectiveModal()">Add Elective</button>
